<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>

<ion-view view-title="Skosay">

  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ui-sref="tab.dash({id: $scope.id})">
        New/Open
      </a>
      <a class="tab-item active" 
         ui-sref="tab.chats({id: $scope.id})">
        In Process
      </a>
      <a class="tab-item" ui-sref="tab.account({id: $scope.id})">
        Resolved
      </a>
    </div>
  </div>
  
  <ion-content ng-controller="NewIssuesController"
               direction="y" overflow-scroll="true" style="margin-top: 10%">
    <ion-list>
        <ion-item class="item-divider">
            <h2>{{store.storename}}</h2>
            <p>{{store.address}}</p>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="store in stores" type="item-text-wrap" href="#/apps/newMsgs/{{chat.id}}">
        <img ng-src="{{store.photo}}">
        <h2>{{store.storename}}</h2>
        <p>{{store.address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

