<ion-view view-title='<img class="title-image" src="img/skopic.png" width="150px" height="40px" />'>

    <ion-nav-bar class="bar-calm">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button>-->
        <ion-nav-buttons side="left">
            <button class="button icon-left ion-chevron-left button-clear button-light" ng-controller="BackController" ng-click="prevPage()" nav-direction="back">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

 <!-- <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" ui-sref="tab.dash({id: $scope.id})" style="margin-top: 0.2em">
        New / Open
      </a>
      <a class="tab-item" ui-sref="tab.chats({id: $scope.id})" style="margin-top: 0.2em">
        In Process
      </a>
      <a class="tab-item" ui-sref="tab.account({id: $scope.id})" style="margin-top: 0.2em">
        Resolved
      </a>
    </div>
  </div> -->
    
  <ion-content id="newissues" ng-controller="NewIssuesController as newIssuesCtrl" class="scroll-bg">
    
    <ion-list ng-init="newIssuesCtrl.selectedTab('new','inprogress','resolved')">
        <ion-item class="item-divider text-center">
            <h3>{{name}}</h2>
            <p>{{address}}</p>
        </ion-item> 

          <div class="button-bar bar-stable">
            <a class="button" id="newbutton" ui-sref='tab.issues({id: "{{id}}",name: "{{name}}", address: "{{address}}"})' ng-click="newIssuesCtrl.selectedTab('new','inprogress','resolved')" >New / Open</a>
            <a class="button" id="inprogressbutton" ui-sref='tab.issues({id: "{{id}}",name: "{{name}}", address: "{{address}}"})' ng-click="newIssuesCtrl.selectedTab('inprogress','new','resolved')">In Process</a>
            <a class="button" id="resolvedbutton" ui-sref='tab.issues({id: "{{id}}",name: "{{name}}", address: "{{address}}"})' ng-click="newIssuesCtrl.selectedTab('resolved','inprogress','new')">Resolved</a>
          </div>         
    
        <!--Hide this if there are no issues--> <!--Show if at least 1 e may laman--> 
        <ion-item ng-show="issueCount"
            class="item-remove-animate item-avatar item-icon-right" 
            ng-repeat="issue in issues | filter:status" 
            ui-sref='messages({id: "{{issue.storeid}}", fid: "{{issue.id}}", name: "{{name}}", address: "{{address}}", DeptName: "{{issue.name}}"})'>
          <img ng-src="http://devapp.skosay.com/images/PostOffice.png">
          <h4>Chat {{issue.id}} : {{issue.message | split}}</h4>
          <p>{{issue.updated_at}}</p>
          <span class="badge badge-assertive" ng-show="issue.notif">{{issue.notif}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>    

    <!--Show this if there are no issues in the selected tab-->
      <div class="midLane">
          <div class="item-remove-animate row row-center" ng-hide="issueCount">
            <div class="col col-center">
              <span class="drafts center ion-android-drafts"></span>
              <span class="drafts center">No Issues Found</span>
            </div>
          </div>
      </div>

  </ion-content>
</ion-view>