<ion-view view-title='<img class="title-image" src="img/skopic.png" width="150px" height="40px" />'>

<!--  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" ui-sref="tab.dash({id: $scope.id})" style="margin-top: 0.2em">
        New / Open
      </a>
      <a class="tab-item" ui-sref="tab.chats({id: $scope.id})" style="margin-top: 0.2em">
        In Process
      </a>
      <a class="tab-item" ui-sref="tab.account({id: $scope.id})" style="margin-top: 0.2em">
        Resolved
      </a>
    </div>
  </div> -->
  
  <ion-content ng-controller="LocationsController" class="scroll-bg">
    <ion-list id="loc-list">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="store in stores" type="item-text-wrap" ui-sref='tab.issues({id: "{{store.storeid}}", name: "{{store.storename}}", address: "{{store.address}}"})'>
        <img ng-src="http://app.skosay.com/{{store.photo}}">
        <h2>{{store.storename}}</h2>
        <p>{{store.address}}</p>
          <span class="badge badge-assertive" ng-show="store.storeNotif">{{store.storeNotif}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="midLane">
          <div class="item-remove-animate row row-center" ng-hide="stores.length">
            <div class="col col-center">
              <span class="drafts center ion-android-drafts"></span>
              <span class="drafts center">No Stores Found</span>
            </div>
          </div>
      </div>

      

<!--
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="storeDept in storeDepts" type="item-text-wrap" ui-sref='tab.issues({id: "{{storeDept.storeid}}", name: "{{storeDept.storename}}", address: "{{storeDept.address}}"})'>
        <img ng-src="{{storeDept.photo}}">
        <h2>{{storeDept.storename}}</h2>
        <p>{{storeDept.address}}</p>
          <span class="badge badge-assertive">{{storeDept.storeNotif}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->

    </ion-list>
  </ion-content>
</ion-view>