<ion-view style="background: #00b9f2" hide-nav-bar="true" hide-back-button="true" >
  <ion-content>

    <form 
    novalidate 
    class="login-form" 
    name="loginForm" 
    ng-controller="LoginController as loginCtrl" 
    ng-submit="loginForm.$valid && loginCtrl.login($scope.loginData)">
        
        <div class="list list-inset"  style="background: #00b9f2">
            <p align="center" style="margin-top:2em;">
                <img src="img/skopic-manager.png" style="width:230px;">
            </p>

            <div class="list list-inset" class="login-form">
                <label class="item item-input">
                    <input type="email" 
                           ng-model="$scope.loginData.email" 
                           placeholder="Your email"
                           id = "email"
                           required>
                </label>
                <label class="item item-input" class="login-form">
                    <input type="password" 
                           ng-model="$scope.loginData.password"
                           placeholder="Your password"
                           id = "password"
                           required>
                </label>
            </div>        

            <div class="list list-inset" style="margin-top: -1em; background-color:#00b9f2">

                <button id="submitButton" class="button button-block button-energized"
                        ng-disabled = "loginForm.$invalid"                  
                        type = "submit"
                        >Sign In 
                    <span class="ion-refreshing"></span>
                </button>
                <button id="falseButton" class="button button-block button-energized" disabled style="display: none;">
                    Signing in. Please wait <ion-spinner icon="spiral"></ion-spinner></button>

                <!--<button class="button button-block button-clear"
                        style="color:white;"
                        ng-click="forgotPass()">
                    <span style="font-size: 12px; color: white; margin-top: -2em">Forgot Password?</span>
                </button>-->
            </div>

            <!--<button onclick="window.plugins.toast.showShortTop('Hello there!', function(a){console.log('toast success: ' + a)}, function(b){alert('toast error: ' + b)})">Toast showShortTop</button>-->
        </div>
    </form>
      
      <!--<div ng-controller="NewMessagesController as newMsgs">
      <button class="button button-block button-dark"          
            ng-click="newMsgs.getNewMsgs()"
            >New Messages
        <span class="ion-refreshing"></span>
                </button>
      
      </div>-->

  </ion-content>
      
</ion-view>

