<ion-view view-title='<img class="title-image" src="img/skopic.png" width="150px" height="40px" />'>

    <ion-nav-bar class="bar-calm">
<!--     <ion-nav-back-button>
      </ion-nav-back-button> -->
      <ion-nav-buttons side="left">
            <button class="button icon-left ion-chevron-left button-clear button-light" ng-controller="BackController" ng-click="prevPage()" nav-direction="back">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>    
  
  <ion-content scroll-glue-bottom="glued" cache-view="false" ng-controller="NewMessagesController" id= "newMessageID" class="scroll-bg has-subfooter">
  

      
    <ion-list>
        <ion-item class="item-divider text-center">
            <h3>{{name}}</h2>
            <p>{{address}}</p>
            <p>{{DeptName}}</p>
        </ion-item> 
    </ion-list>
   
      <div ng-repeat="message in messages">
        <div ng-init="userCompare=(message.userid == userId)"
             ng-class="{true: 'triangle-isosceles-right right', false: 'triangle-isosceles-left left'}[userCompare]">
          <h5 ng-show="isMsgType=(message.msgType == 'feedBack')">{{message.message | split}}</h5>

          <p>
            <img ng-show="hasPic=(message.photo != '')" src="http://app.skosay.com/{{message.photo}}" class="msg-img"/>
          </p>
          <h5 ng-show="isMsgType=(message.msgType == 'reply')">{{message.message}}</h5>
        </div >
        <p>{{message.updated_at}} by {{message.name || 'guest'}}</p>


      </div>
        
  </ion-content>
    
<form    
    novalidate
    name="sendMessageForm" 
    ng-controller="sendMessageController as sendMsgCtrl"
    ng-submit="sendMessageForm.$valid && sendMsgCtrl.sendMessage($rootScope.message.reply)">
<!-- Text Input Bar   -->
    <ion-footer-bar align-title="left" class="bar-subfooter item-input-inset bar-calm">

        <label class="item-input-wrapper">
                <input type="text"
                       id="txtReply"
                       ng-model="$rootScope.message.reply"
                       placeholder="Write your message. Maximum 200 characters"
                       required>
        </label>
    </ion-footer-bar>
    
<!-- Button Bar   -->
    <ion-footer-bar align-title="left" class="bar-dark" ng-controller="uploadCtrl">
      <div class="buttons">
        <button class="button button-positive icon ion-camera" ng-click="takePicture()"></button>
      </div>
      <div>
          <!-- <button class="button button-positive"><i class="icon ion-ios-download-outline"></i></button> -->
          <img id="blah" src="{{picData}}" alt="img" style="height:33px;width:38px;margin-left:5px;">
      </div>

      <input type="file" class="imageupload" id="file"/>

      <input type="file" class="imageupload" id="file" ng-model="$scope.picData"/>
<!-- Button Divider Left Buttons from Right Buttons -->
      <h1 class="title"></h1>
      <div class="buttons" ng-controller="changeStatusController" >

        <a href="#" class="button button-calm" ng-click="changestatus()">Change Status</a>
        <!--
        <div ng-controller="NewMessagesController"> 
          <a ng-show="checkResolve()" href="#" class="button button-calm" ng-click="submitButtonStatus('archive')">Archive</a>
        </div>-->
        <button class="button button-positive"
                type ="submit"
                ng-disabled ="sendMessageForm.$invalid"
                id = "sendBtn"
                ng-click="sendMessage($rootScope.message.reply)"
                >Send</button>
      </div>

    </ion-footer-bar>
</form>
</ion-view>

<!--Issue Status: either new, inprogress, resolved-->  
    <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()" ng-controller="NewMessagesController">
        <button class="cancel button button-icon ion-android-cancel" ng-click="closeModal()"></button>
        <ion-pane class="transparent">
            <ion-content has-bouncing="true" padding="true" class="center">
            <div>
              <button ng-hide="checkNew()" style=" margin: 0px 0px 10px 4px; top: 6px; width : 100%; top: 40%; bottom: 40%;" class="button button-calm" type="button" ng-click="submitButtonStatus('new')">
                New 
              </button>
              <button ng-hide="checkInProgress()" style=" margin: 0px 0px 10px 4px; top: 6px; width : 100%; top: 40%; bottom: 40%;" class="button button-calm" type="button" ng-click="submitButtonStatus('inprogress')">
                In Process 
              </button>
              <button ng-hide="checkInResolved()" style="margin: 0px 0px 10px 4px; top: 6px; width : 100%;top: 40%; bottom: 40%;" class="button button-calm" type="button" ng-click="submitButtonStatus('resolved')">
                Resolved
              </button>
              <button style=" margin: 0px 4px 10px 4px; top: 6px; width : 100%;top: 40%; bottom: 40%;" class="button button-calm" type="button" ng-click="submitButtonStatus('archive')">
                Archive 
              </button>
          </ion-content>
        </ion-pane>
      </div>
    </script>

<!--
if mStat == new
  show IRA
if mStat == inProc
  show RA
if mStat == res
  show A

  ng-if="issues == 'new' || issues == 'inprogress' || issues == 'resolved'"

 <img id="blah" src="" alt="your image" style="height:24px;width:24px;" onchange="checkImg()"> -->
