<ion-view view-title='<img class="title-image" src="img/skopic.png" width="150px" height="40px" />'>

  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" ui-sref="tab.dash({id: $scope.id})" style="margin-top: 0.2em">
        New / Open
      </a>
      <a class="tab-item" ui-sref="tab.chats({id: $scope.id})" style="margin-top: 0.2em">
        In Process
      </a>
      <a class="tab-item" ui-sref="tab.account({id: $scope.id})" style="margin-top: 0.2em">
        Resolved
      </a>
    </div>
  </div>
  
  <ion-content ng-controller="LocationsController"
               direction="y" overflow-scroll="true" style="margin-top: 10%">
    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="store in stores" type="item-text-wrap" href="#/apps/newMsgs/{{chat.id}}">
        <img ng-src="{{store.photo}}">
        <h2>{{store.storename}}</h2>
        <p>{{store.address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>