/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$calm:                            #00b9f2 !default;
$energized:                       #CE702D !default;

// Custom

/*
$big-bg:      '../img/skopic.png';
.scroll-bg {
  background: url($big-bg) no-repeat center center fixed;
  background-size: cover;
}
*/

/*Imported from the old style.css file*/
.spinner {
  stroke: #444;
  fill: #444; }

.spinner svg {
  width: 20px;
  height: 20px;
  margin-top: 0.7em;
  margin-left: 0.3em; }

.imageupload {
  display: none; }

.msg-img {
  z-index: 1;
  width: 100%;
  max-width: 300px; }

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/*For Modal*/
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important; }

.transparent {
  background: transparent !important; }

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

.cancel.ion-android-cancel {
  font-size: 32px;
  float: right;
  color: #a0ddc9; }

/*For Modal*/
/*"No Issues Found"*/
.midLane {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  overflow: auto;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center; }

.drafts.ion-android-drafts {
  font-size: 28px;
  float: center;
  color: #bdbdbd; }

.drafts {
  float: center;
  color: #bdbdbd; }

/*"No Issues Found"*/
.body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto; }

/*Imported from the old style.css file*/


blockquote {
  margin:1em 0;
}

blockquote p {
  margin:0;
  font-size:2em;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-isosceles-left {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  text-align:center;
  background:#DFDFDF ; /* default background for browsers without gradient support */
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  min-height: 65px;
}

.triangle-isosceles-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  text-align:center;
  background:#73D3E8; /* default background for browsers without gradient support */
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  min-height: 65px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
  background:-moz-linear-gradient(#f3961c, #f9d835);
  background:-o-linear-gradient(#f3961c, #f9d835);
  background:linear-gradient(#f3961c, #f9d835);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles-left.left {
  margin-right:50px;
  margin-left:50px;
  background:#DFDFDF ;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles-right.right {
  
  margin-right:50px;
  margin-left:50px;
  background:#73D3E8;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles-left:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:150px 150px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:gray transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates triangle */
.triangle-isosceles-right:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#73D3E8 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#DFDFDF  transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles-left.left:after {
  top:10px; /* controls vertical position */
  left:-15px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:25px 50px 25px 0;
  border-color:transparent #DFDFDF ;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles-right.right:after {
  top:10px; /* controls vertical position */
  right:-15px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:25px 0 25px 50px;
  border-color:transparent #73D3E8;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.triangle-isosceles-left + p {margin:-40px 0px 2em 0; text-align:center; font-style:italic; font-size:0.75em; color:#8F8F8F}

.triangle-isosceles-right + p {margin:-40px 0px 2em 0; text-align:center; font-style:italic; font-size:0.75em; color:#8F8F8F}

 

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;



// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

