<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->
    <script src="lib/ionic-service-core/ionic-core.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/login.js"></script>
    <script src="js/locations.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/issues.js"></script>
    <script src="js/db.js"></script>
    <script src="js/utils.js"></script>
  </head>
  <body ng-app="skosayMgr">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <!-- <ion-nav-bar class="bar-calm" ng-controller="BackController">
      <ion-nav-back-button class="button-icon">
        <i class="icon ion-chevron-left"></i>BACK
      </ion-nav-back-button>
    </ion-nav-bar>-->
<ion-side-menus ng-controller="menuCtrl">
<ion-pane ion-side-menu-content="">
   <ion-nav-bar class="bar-calm">

      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
        <ion-nav-buttons side="left">
            <button class="button icon-left ion-chevron-left button-clear button-light" ng-controller="BackController" ng-click="prevPage()" nav-direction="back">
            </button>
        </ion-nav-buttons>
        
        <ion-nav-buttons side="left">
         <button class="button button-icon icon ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <!--For Net Check-->
    <ion-header-bar ng-controller="NetCheckController" ng-show="netCheck" align-title="center" class="bar-assertive"> 
      <h1 class="title">Check Internet Connection</h1>
    </ion-header-bar>
<ion-side-menu side="left">
    <header class="bar bar-header bar-calm">
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear="" menu-close="" ng-click="signout()">
          <b>SIGN-OUT</b>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <!-- <ion-nav-view></ion-nav-view>-->
      

  </body>
</html>
