/* Empty. Add your own CSS if you like */
.spinner {
  stroke: #444;
  fill: #444; }
  .spinner svg {
    width: 20px;
    height: 20px; 
	margin-top: 0.7em;
	margin-left: 0.3em;
	}
.imageupload {
  display:none;  
}
.msg-img{
    
}/* Empty. Add your own CSS if you like */
.spinner {
  stroke: #444;
  fill: #444; }
  .spinner svg {
    width: 20px;
    height: 20px; 
  margin-top: 0.7em;
  margin-left: 0.3em;
  }
.imageupload {
  display:none;  
}
.msg-img{
    z-index: 1;
    width: 100%;
    max-width: 300px;
}


#modalDialog1 {
    position:  relative;
    font-family: Arial, Helvetica, sans-serif;
}

#modalDialog1 > div {
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    z-index: 100000;
    top: 0px;
    position: fixed;
    width: 100%;
    background:  rgba(0,0,0,0.8);
    position: center; 
    padding: 10%;
    height: 100%;
}

.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
/*new*/
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}


/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
/*new*/

.cancel.ion-android-cancel{
  font-size: 32px;
  float: right;
  color: #a0ddc9;
}

.body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}